#searchfield .biginput {
    border: none;
    padding: 0px;
    margin: 0px;
    height: 44px;
    left: 0px;
    outline: none;
    font-size: 20px;
    padding: 0 15px 0px 15px;
}

#searchfield .biginput:focus {
    color: #858585;
}